[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = git@github.com:nicktgr15/pelican-alchemy.git
