[submodule "nicktgr15.github.io"]
	path = output
	url = git@github.com:nicktgr15/nicktgr15.github.io.git
[submodule "themes/pelican-alchemy"]
	path = themes/pelican-alchemy
	url = https://github.com/nairobilug/pelican-alchemy
